extends layout

block content

  a(href="/") Home | 
  a(href="/create") Create | 
  a(href="/read") Read | 
  a(href="/update") Update | 
  a(href="/delete") Delete 

  h1= title
  p Create an entry in the database here. Be sure you keep the ID# of the opinion you add, otherwise you can't remove it. You can be "anonymous", too.

  div
    form(action="/create", method="post")
        input(type="text", name="firstName", placeholder="First", maxlength="30", required)
        input(type="text", name="lastName", placeholder="Last", maxlength="30", required)
        input(type="text", name="opinion", placeholder="Opinion", maxlength="300", size="50", required)
        button(type="submit") Submit

  p Here are some random opinions for inspiration...
  div.randomOpinions
  table
      each n in entries
        tr
          td
            = n.opinion
          td
            span - #{n.first}

    //- ul
      each opinion in opinions
        li= opinion





