extends layout

block content

  a(href="/") Home | 
  a(href="/create") Create | 
  a(href="/read") Read | 
  a(href="/update") Update | 
  a(href="/delete") Delete 

  h1= title
  p Do you have an opinion that you regret posting? Then you can delete it here, so long as you kept the ID#. If your post is truly horrible and no good can come of it, then it will likely be filtered out by my (nonexistent, future project) post analyzer. Hurtful things may be kept, but hateful things that should only exist as a reminder not to repeat a horrible past (racism, etc) will be removed by me and my code.

  div
    form(action="/delete", method="post")
        input(type="text", placeholder="Opinion ID", name="deleteID", required)
        button(type="submit", style={display: "inline"}) Delete 

  div.randomOpinions
  table
      each n in entries
        tr
          td
            = n.opinion
          td
            span - #{n.first}
          td
            span OpinionID: #{n._id}