extends header

block description
    p Welcome to the opinions database. Everyone has an opinion or two, or three, or... yeah. Do you need to vent your frustrations, or do you want to shower praise on something? 

    p Just put whatever you want in the opinion box as long as its under 300 characters (opinions should be short).

    ul.container.list-group
        li.list-group-item This is not Twitter; you don't need to register.
        li.list-group-item This is not 4-chan; no images are uploaded.
        li.list-group-item This is not Facebook; you don't have to worry about friends and family finding out what you think.

    p Here are some random opinions...
    table.table.table-responsive
        each n in entries
            tr
                td #{n.opinion}
                td #{n.first}







