extends layout

block content
  h1= title
  p Welcome to my collection of opinions. Answer at least 10 questions, otherwise your answers will not be saved. You can add your own questions if you like.
  div.description CRUD with Jade
  a(href="/") Create | 
  a(href="/read") Read | 
  a(href="/update") Update | 
  a(href="/delete") Delete 
  div
    form(action="/", method="post")
        input(type="text", name="firstName", placeholder="First", maxlength="30", required)
        input(type="text", name="lastName", placeholder="Last", maxlength="30", required)
        input(type="text", name="opinion", placeholder="Opinion", maxlength="300", size="50", required)
        button(type="submit") Submit

  div.randomOpinions
  table
      each n in entries
        tr
          td
            = n.opinion
          td
            span - #{n.first}

    //- ul
      each opinion in opinions
        li= opinion





