extends layout

block content
  h1= title
  p Welcome to my collection of opinions. Answer at least 10 questions, otherwise your answers will not be saved. You can add your own questions if you like.
  div.description CRUD with Jade
  a(href="/") Create | 
  a(href="/read") Read | 
  a(href="/update") Update | 
  a(href="/delete") Delete 