extends layout

block content

  a(href="/") Home | 
  a(href="/create") Create | 
  a(href="/read") Read | 
  a(href="/update") Update | 
  a(href="/delete") Delete 

  h1= title
  p Do you have your opinion's ID#? If so, then you can update it here.

  div
    form(action="/update", method="post")
        input(type="text", name="firstName", placeholder="First", maxlength="30")
        input(type="text", name="lastName", placeholder="Last", maxlength="30")
        input(type="text", name="opinion", placeholder="Opinion", maxlength="300", size="50")
        input(type="text", placeholder="Opinion ID", name="updateID", required)
        button(type="submit", style={display: "inline"}) Update 
